**Задача 1**. Дано слово из латинских букв. Напишите скрипт, который выводит на экран букву из середины слова (если число букв нечетное). Если букв четное число, то на экран выводятся две буквы из середины.  

Пример: для 'test' должно выводится 'es', для 'testing' - 't'

In [74]:
def middle_letter(word):
    letters = len(word)
    if letters % 2 != 0:
        index = letters // 2
        print(word[index])
    else: 
        index = letters // 2
        print(word[index - 1: index + 1])
        
middle_letter('testing')
middle_letter('test')

t
es

**Задача 2**. Мы делаем MVP dating-сервиса, и у нас есть список парней и девушек (их число может варьироваться):

In [75]:
boys = ['Peter', 'Alex', 'John', 'Arthur', 'Richard']
girls = ['Kate', 'Liza', 'Kira', 'Emma', 'Trisha']

In [76]:
def couples(boys, girls):
    
    if len(boys) != len(girls):
        return "Кто-то останется без пары! Пригласите больше гостей."
    
    boys.sort()
    girls.sort()
    couples = zip(boys, girls)
    
    print('Идеальные пары:')
    for couple in couples:
        boy, girl = couple
        print(f'{boy} и {girl}')

couples(boys, girls)

Идеальные пары:
Alex и Emma
Arthur и Kate
John и Kira
Peter и Liza
Richard и Trisha

Выдвигаем гипотезу: лучшие рекомендации мы получим, если просто отсортируем имена по алфавиту и познакомим людей с одинаковыми индексами после сортировки! "Познакомить" пары нам поможет функция zip, а в цикле распакуем zip-объект и выведем информацию в виде:

Идеальные пары:  
Alex и Emma  
Arthur и Kate  
John и Kira  
Peter и Liza  
Richard и Trisha

**Внимание! Если количество людей в списках будет не совпадать, то мы никого знакомить не будет и выведем пользователю предупреждение, что кто-то может остаться без пары!**

**Задача 3**. У нас есть список, содержащий информацию о среднедневной температуре в Фаренгейтах за недельный период по странам.
Необходимо написать код, который рассчитает среднюю температуру за неделю в Цельсиях для каждой страны.

In [85]:
countries_temperature = [
 ['Thailand', [75.2, 77, 78.8, 73.4, 68, 75.2, 77]],
 ['Germany', [57.2, 55.4, 59, 59, 53.6, 55.4, 57.2]],
 ['Russia', [35.6, 37.4, 39.2, 41, 42.8, 39.2, 35.6]],
 ['Poland', [50, 50, 53.6, 57.2, 55.4, 55.4, 51.8]],
]


def celsius_to_fahrenheit(countries_temperature):
    for country in countries_temperature:
        average = 0
        for temp in country[1]:
            average += (temp - 32) * 5 / 9 
        print ('Average temperature in {} in Celsius is {:.0f}'.format(country[0], average / len(country[1])))
            
            
celsius_to_fahrenheit(countries_temperature)

Average temperature in Thailand in Celsius is 24
Average temperature in Germany in Celsius is 14
Average temperature in Russia in Celsius is 4
Average temperature in Poland in Celsius is 12

**Задача 4.** Дан поток логов по количеству просмотренных страниц для каждого пользователя. Список отсортирован по ID пользователя. Вам необходимо написать алгоритм, который считает среднее значение просмотров на пользователя. 
Т. е. надо посчитать отношение суммы всех просмотров к количеству уникальных пользователей.

In [79]:
stream = [
    '2018-01-01,user1,3',
    '2018-01-07,user1,4',
    '2018-03-29,user1,1',
    '2018-04-04,user1,13',
    '2018-01-05,user2,7',
    '2018-06-14,user3,4',
    '2018-07-02,user3,10',
    '2018-03-21,user4,19',
    '2018-03-22,user4,4',
    '2018-04-22,user4,8',
    '2018-05-03,user4,9',
    '2018-05-11,user4,11',
]


def sum_to_users(stream):
    new_stream = []
    unique_users = []
    sum_views = 0
    
    for line in stream:
        new_stream.append(line.split(','))
        
    for line in new_stream:    
        sum_views += int(line[2])
        if line[1] not in unique_users:
            unique_users.append(line[1])
            
    return sum_views / len(unique_users)
        
 

sum_to_users(stream)

23.25

**Задача 5**. Дана статистика рекламных кампаний по дням. Напишите алгоритм, который по паре дата-кампания ищет значение численного столбца. 
Т. е. для даты '2018-01-01' и 'google' нужно получить число 25. 
Считайте, что все комбинации дата-кампания уникальны.

In [87]:
stats = [
    ['2018-01-01', 'google', 25],
    ['2018-01-01', 'yandex', 65],
    ['2018-01-01', 'market', 89],
    ['2018-01-02', 'google', 574],
    ['2018-01-02', 'yandex', 249],
    ['2018-01-02', 'market', 994],
    ['2018-01-03', 'google', 1843],
    ['2018-01-03', 'yandex', 1327],
    ['2018-01-03', 'market', 1764],
]

def date_campaign(date, campaign, stats):
    for row in stats:
        if date == row[0] and campaign == row [1]:
            return row[2]
            
date_campaign('2018-01-01', 'google', stats)

25

**Задача 6**. Дан список вида:

In [89]:
data = [
    [13, 25, 23, 34],
    [45, 32, 44, 47],
    [12, 33, 23, 95],
    [13, 53, 34, 35]
]


def diagonal_sum(data):
    start = 0
    total = 0
    for row in data:
        total += row[start]
        start+=1
    return total
    
diagonal_sum(data)

103

Напишите код, который будет вычислять сумму элементов на диагонали. Т. е. 13+32+23+35.  
Список может быть любой длины, но всегда является "квадратным" (количество элементов во вложенных списках равно их количеству).